<div class="container" style="margin-top:100px;">

<div class="container">
  <div class="col d-flex inline">
    <% if @user.image.attached? %>
  <%= image_tag @user.image.variant(resize:'100x100').processed, class:"avatar m-4"%>
  <% else %>
    <%= image_tag ("defo.jpg"), class:"avatar m-4"%>
  <% end %>
  <p class="h3 text-bold justify-content-center align-self-center"><%= @nickname %>さんの投稿一覧</p>
  </div>
  <div class="col-md-6 offset-md-2">
      <p>プロフィール : <%= @user.profile %></p>
  </div>
</div>
<hr>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card text-center h-100">
          <td><%= image_tag post.image.variant(resize:'300x200'), class: "card-img-top" %></td>
          <h4 class="card-text"><%= post.title %></h4>
          <div class="card-body ">
            <%= strip_tags(post.content.to_s).gsub(/[\n]/,"").strip.truncate(20)%>
              <%= render partial: 'posts/posts', collection: @posts, as: :post %>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group mt-3 mx-auto">
                  <% if user_signed_in? && current_user.id == post. user_id%>
                    <%= link_to '編集', edit_post_path(post), class: "btn btn-sm btn-outline-primary" %>
                    <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-sm btn-outline-primary"%>
                    <% else %>
                    <%= link_to '詳細', post, class: "btn btn-sm btn-outline-primary" %>
                    <%= link_to 'トップページ', posts_path, class: "btn btn-sm btn-outline-primary" %>
                  <% end %>
                </div>
              </div>
            <hr>
            <small class="text-muted mt-4"><%= post.created_at.to_s(:datetime_jp) %></small>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
<div class="container" style="margin-bottom:100px;">

