<div class="container" style="margin-top:100px;">
<div class="container ">
<p><%= @nickname %>さんの投稿一覧</p>

    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.image.variant(resize:'200x200') %></td>
        <div><%= post.title %></div>
          <% if user_signed_in? && current_user.id == post.user_id%>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <%= link_to 'Back', posts_path %>
      </tr>
    <% end %>
</div>
<div class="container" style="margin-bottom:100px;">

