<%= form_with(model: @post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
    
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group ">
  <div class="field m-5">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field mb-5">
    <%= form.label :タイトル , class: "h5"%>
    <%= form.text_field :title, class:"form-control" %>
  </div>

    <div class="field mb-5">
    <%= form.label :記事, class: "h5"%>
    <%= form.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "投稿する", class:"form-control btn btn-outline-secondary "%>
  </div>
  </div>

<% end %>