<%= form_with model: @post, local: true do |form| %>
  <%= render 'layouts/error_messages', model: form.object %>
<div class="form-group">
  <div class="field pt-5 mb-5">
    <div class="d-flex justify-content-between align-items-center mb-2", id="image-list"></div>
    <%= form.label :アイキャッチ画像%>
    
    <%= form.file_field :image, id:"item-image", accept: "image/png, image/jpeg, image/gif" , class:"form-control"%>
</div>

  <div id="image-list"></div>

  <div class="field mb-5">
    <%= form.label :タイトル , class: "h5"%>
    <%= form.text_field :title, class:"form-control", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
  </div>

    <div class="field mb-5">
    <%= form.label :記事, class: "h5"%>
    <%= form.rich_text_area :content %>
  </div>

      <div class="field mb-5">
      <%= form.label :タグ, class: "h5" %>
      <%= form.text_field :tag_list, value: @post.tag_list.join(','), placeholder:"複数のタグを指定する時はカンマ(,)で区切ってください", class: "form-control" %>
    </div>

  <div class="actions">
    <%= form.submit "投稿する", class:"form-control btn btn-outline-secondary "%>
  </div>
  </div>

<% end %>