<p id="notice"><%= notice %></p>
<h1>Posts</h1>

<table>
  
  <tbody>
    <% @posts.each do |post| %>
      <span class="name">
        <a href="/users/<%= post.user.id %>">
          <span>投稿者</span><%= post.user.nickname %>
        </a>
      </span>
        <td><%= post.title %></td>
        <td><%= image_tag post.image.variant(resize:'200x200') %></td>
        <td><%= link_to 'Show', post %></td>
      </tr>
    <% end %>
  </tbody>
</table>


