<div class="bg-sample"></div>
<h3 class="text-lg-center mt-5">地球と人のつながりをもっと身近なものに。</h3>
    <p class="text-lg-center text-muted">みんなの投稿で普段の生活をもっと未来につなげよう</p>
    <br>
    <br>
    <hr>

    <% breadcrumb :root %>
<div class="container">
  <div class="row">
        <div class="col-md-8">

    <% @posts.each do |post| %>
        <div class="card mb-4">
          <%= image_tag post.image, size: "750x300", class: "card-img-top " %>
          <div class="card-body">
            <h2 class="card-title"><%= post.title %></h2>
            <p class="card-text"><%= strip_tags(post.content.to_s).gsub(/[\n]/,"").strip.truncate(20)%></p>
            <% if post.user.image.attached? %>
              <%= image_tag post.user.image, class:"avatar m-4"%>
            <% else %>
              <%= image_tag ("defo.jpg"), class:"avatar m-4"%>
            <% end %>
            <div class="col-6 align-self-center">
              <a href="/users/<%= post.user.id %>", class="h5", style="text-decoration: none">
              <p class="h3 text-bold "><%= post.user.nickname %></p>
              </a>
            <%= render partial: 'posts/posts',  locals: { post: post } %>
          </div>    
            <div class="field">
              <%= link_to '詳細ページ', post, class: "btn btn-outline-secondary form-control" %>
            </div>
            <div class="card-footer text-muted">投稿日時：<%= post.created_at.to_s(:datetime_jp) %>
            </div>
          </div>
        </div>
        
      <% end %>
<%= paginate @posts %>


<div class="container" style="margin-bottom:100px;">


