<p id="notice"><%= notice %></p>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= image_tag @post.image.variant(resize:'800x800').processed %>
      <br>
      <br>
      <br>
      <h1 class="text-center">
      <strong><%= @post.title %></strong>
    </h1>
    <div class="d-inline-flex mb-5 inline">
      <a href="/users/<%= @post.user.id %>", class="h5", style="text-decoration: none">
        <%= @post.user.nickname %>
      </a>
        <%= render partial: 'posts/posts', collection: @posts, as: :post %>
    </div>
    <%= @post.content %>
    </div>
  </div>
</div>
<hr>
<div class="container ">
<div class="col text-center text-muted mb-3">
    <h4>コメント</h4> <%= @comments_count %>
</div>
  <div class="col-8 mx-auto">
<% if @comments %>
    <% @comments.each do |comment| %>
      <% if user_signed_in? %>
        <p>
        <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
        <%= comment.text %>
        </p>
    <% else %>
      <p>
        <strong> <%= comment.user.nickname %>：</strong>
        <%= comment.text %>
      </p>
    <% end %>
  <% end %>
  </div>
      <div class="row ">
        <div class="col-8 mx-auto">
        <% if current_user %>
        <hr>
            <%= form_with(model: [@post, @comment], local: true) do |form| %>
              <div class="form-group mt-3">
                <%= form.text_area :text, placeholder: "コメント", rows: "2", class: "form-control" %>
                <div class="text-right">
                  <%= form.submit "SEND", class: "btn btn-outline-secondary "%> <% end %>
                </div>
              </div>
            <% else %>
            <strong><p class="text-center">※※※ コメントするにはログインしてください ※※※</p></strong>
          <% end %> 
        </div>
      </div>
      <% end %>
    </div>
  </div>
<div class="container" style="margin-bottom:200px;">



